# defconfig — QLYX X30 (UNISOC UMS9117) NuttX Configuration
# Hardware verified: CPU ARMv7-A, RAM 12MB @0x80a06200, UART0 0x70000000 IRQ18
CONFIG_ARCH="arm"
CONFIG_ARCH_CHIP="ums9117"
CONFIG_ARCH_CHIP_UMS9117=y
CONFIG_ARCH_BOARD="qlyx-x30"
CONFIG_ARCH_BOARD_QLYX_X30=y
CONFIG_ARCH_CORTEXA7=y
CONFIG_ARCH_ARMV7A=y
CONFIG_ARCH_HAVE_FPU=y
CONFIG_ARM_HAVE_THUMB=y
CONFIG_ARCH_HAVE_IRQPRIO=y
CONFIG_BOARD_LOOPSPERMSEC=15000
CONFIG_BOOT_RUNFROMSDRAM=y
CONFIG_RAM_START=0x80a06200
CONFIG_RAM_SIZE=0x00C00000
CONFIG_RAM_VSTART=0x80a06200
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_STACKDUMP=y
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_DEFAULT_TASK_STACKSIZE=2048
CONFIG_RAW_BINARY=y
CONFIG_INTELHEX_BINARY=y
CONFIG_UMS9117_UART0=y
CONFIG_UART0_BAUD=115200
CONFIG_UART0_BITS=8
CONFIG_UART0_PARITY=0
CONFIG_UART0_2STOP=0
CONFIG_ARCH_HAVE_IRQCOUNT=y
CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_UART=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_LIBRARY=y
CONFIG_NSH_READLINE=y
CONFIG_NSH_PROMPT_STRING="qlyx-x30:nsh> "
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_BOARDCTL=y
CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y
CONFIG_BUILTIN=y
